@model BasicApi.Items.Dtos.ConfirmEmailViewDto

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <p>
        Lütfen email hesabınızı onaylamak için linke <a href='@Model.Url'>tıklayınız.</a>
    </p>
</body>
</html>
