@model BasicApi.Items.Dtos.ForgotPasswordViewDto

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <p>
        <br />
        <br />
        Parolanızı yenilemek için linke <a href='@Model.Url'>tıklayınız.</a>        <br />
        <br />
        <br />
        <br />
        Student Tracking
    </p>
</body>
</html>
