@model BasicApi.Items.Dtos.TemporaryEmailViewDto

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <p>
        Sayın @Model.FirstName @Model.LastName,
        <br />
        <br />
         Aşağıda bulunan parolanız ile giriş yapabiliriz.
        <br />
        <br />
         Parola: @Model.Password
        <br />
        <br />
        Online Course
    </p>
</body>
</html>
